In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
#Let's review how we will use our dependencies. We'll use Pandas to read our CSV file and create the locations and measurements from the DataFrame. We'll use gmaps and the API key to create heatmaps and the locations map, and we'll use the requests dependency to make a request to the Google Places JSON file. This will allow us to get hotel locations from the latitude and longitude of the city.

#Next, we'll read our cities.csv file into a DataFrame. Add the following code and run it to create the DataFrame.

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()
#One caveat to using gmaps: The data we use for any mapping must be either an integer or a floating-point decimal number. Let's check the data types for the columns of our DataFrame.

#REWIND Recall that you use the dtypes method to get the data types of a DataFrame.

# Confirm the data types for the data columns are integers or floating-point decimal numbers.

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Seinajoki,FI,2021-07-13 00:31:21,62.7945,22.8282,58.23,80,1,0.00
1,1,Hermanus,ZA,2021-07-13 00:27:03,-34.4187,19.2345,46.80,66,100,26.06
2,2,Souillac,MU,2021-07-13 00:31:22,-20.5167,57.5167,70.18,68,40,11.50
3,3,Acarau,BR,2021-07-13 00:31:22,-2.8856,-40.1200,80.22,78,36,19.91
4,4,Dikson,RU,2021-07-13 00:31:22,73.5069,80.5464,33.40,86,100,18.21

In [5]:
#Create a Maximum Temperature Heatmap

#First, tell gmaps to use your API key. You only need to configure gmaps to use your API key once.

#Add the following code to a new cell and run the cell.

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)
#Next, create the heatmap for the maximum temperature. The general syntax for creating a heatmap is as follows.

# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
# fig
# Add the locations array and the values from the maximum temperature from our city_data_df DataFrame for Steps 1 and 2 and the rest of the code above.

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
#Adjust Heatmap Zoom, Intensity, and Point Radius

# First, add the geographic center of Earth in the form of latitude and longitude (30.0° N and 31.0° E). Also, add a zoom level so that only one map of Earth is shown.

# When we add a center and zoom level to the gmaps.figure() attribute, it will look like this:

# fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# You might have to play with the zoom level to get things right.

# When we run the cell, our map is centered and shows all the inhabitable places on Earth.

# If we scroll and zoom in on North America, we can see that the circles for the temperatures need to be modified so that they are larger and show temperature gradient differences.

In [13]:
# Create a Percent Humidity Heatmap

#Now that we have created our maximum temperature heatmap, let's create the heatmap for humidity. We can reuse the code and use the humidity values for the measurements.

#Add the following code to a new cell and run the cell.

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
#Create a Percent Cloudiness Heatmap
#Next, we will create the heatmap for percent cloudiness.

# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Create a Wind Speed Heatmap
# Now we can create the final heatmap. Copy the code that created the previous heatmap and edit your code with the line wind = city_data_df["Wind Speed"] so that the wind speed replaces the percent cloudiness, and set the variable weights=wind, and run your cell.
# Your wind speed heatmap should look similar to the following.

# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# 6.5.3 Get Vacation Criteria
#Now, the cherry on top of the project: a feature on the app that allows customers to search for locations they want to travel based on their temperature preferences.
#Your clients will enter their preferences. Your code will tell them where to travel. It's beautiful, simple, and just needs a few more lines of code to actually work.
#For the app we are creating, we need to prompt the user to enter the minimum and maximum temperature ranges as floating-point decimal numbers to filter the city_data_df DataFrame.
#REWIND
#Recall that you use the input() statement to prompt a user to enter information. To convert the input to a floating-point decimal number, wrap the input() statement with the float() method, like this: float(input()).

#In a new cell, we'll write two input statements for the app that will prompt the customer to add minimum and maximum temperature values and convert these values to floating-point decimals.

#The statement can be whatever you want it to be, but for our app, we'll prompt the customer with the following two input statements.
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
#Next, filter the maximum temperature column in the city_data_df DataFrame using logical operators to create a new DataFrame with the cities that meet the customer's criteria.

#REWIND
#Recall that you use the loc[] method on the current DataFrame to create a new DataFrame from a current DataFrame. Inside the brackets, add the conditional filter.

#The conditional filter will be city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"]>= min_temp. Also, filter the city_data_df DataFrame using the following statement.

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)
#The preferred_cities_df DataFrame will contain all the cities that meet the temperature criteria.

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Acarau,BR,2021-07-13 00:31:22,-2.8856,-40.1200,80.22,78,36,19.91
5,5,Vaini,TO,2021-07-13 00:31:23,-21.2000,-175.2000,75.69,89,100,13.22
7,7,Atuona,PF,2021-07-13 00:26:48,-9.8000,-139.0333,77.40,77,18,22.86
11,11,Saint Anthony,US,2021-07-13 00:31:25,45.0205,-93.2180,81.18,47,1,1.01
15,15,Boa Vista,BR,2021-07-13 00:31:26,2.8197,-60.6733,82.38,74,20,0.00
17,17,Silopi,TR,2021-07-13 00:31:26,37.2497,42.4694,82.63,19,0,4.63
27,27,Georgetown,MY,2021-07-13 00:28:14,5.4112,100.3354,80.89,90,20,1.14
28,28,Praia,CV,2021-07-13 00:31:30,14.9215,-23.5087,75.74,60,75,9.22
31,31,Shingu,JP,2021-07-13 00:31:30,33.7333,135.9833,81.59,65,6,4.07
37,37,Beidao,CN,2021-07-13 00:31:32,34.5686,105.8933,79.00,72,6,1.61

In [20]:
#Before moving on, determine if the preferred_cities_df DataFrame has any null values for any of the rows.

preferred_cities_df.count()

City_ID       197
City          197
Country       197
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [ ]:
# IMPORTANT
#Consider the following guidance:

#Depending on the time of year and the seasons, you might have to adjust the minimum and maximum temperature to get enough cities.
#It is a good idea to keep the number of cities to fewer than 200 to make it easier to plot the markers on the heatmap.
#If you have some rows with null values, you'll need to drop them using the dropna() method at the end of your filtering statement when you are creating the new DataFrame.
#Now that we have all the cities the customer wants to travel to, they will need to find a hotel to stay in the city.

In [21]:
#6.5.4 Map Vacation Criteria


#Once the customers have filtered the database (DataFrame) based on their temperature preferences, show them a heatmap for the maximum temperature for the filtered cities. In addition, create a marker for each city that will display the name of the city, country code, maximum temperature, and name of a nearby hotel within three miles of the coordinates when the marker is clicked.
#Using the coordinates from the preferred_cities_df DataFrame, find a hotel using our Google Places API and then retrieve that hotel information. Once we retrieve the hotel information, we'll need to store it so we can reference it and add the information to the pop-up marker.

#Get Travel Destinations

#Don't add the hotel information to the preferred_cities_df DataFrame because this DataFrame is our filtered DataFrame, and the customer will always filter it for each trip. We'll need to create a new DataFrame specifically for the data needed to create a heatmap and pop-up markers.

#Make a copy of the preferred_cities_df DataFrame and name it hotel_df. For the hotel_df, keep the columns "City," "Country," "Max Temp," "Lat," and "Lng." Add a new column to the hotel_df DataFrame to hold the name of the hotel.

#Add the following code to a new cell and run it to create the hotel_df DataFrame.
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3          Acarau      BR     80.22  -2.8856  -40.1200
5           Vaini      TO     75.69 -21.2000 -175.2000
7          Atuona      PF     77.40  -9.8000 -139.0333
11  Saint Anthony      US     81.18  45.0205  -93.2180
15      Boa Vista      BR     82.38   2.8197  -60.6733
17         Silopi      TR     82.63  37.2497   42.4694
27     Georgetown      MY     80.89   5.4112  100.3354
28          Praia      CV     75.74  14.9215  -23.5087
31         Shingu      JP     81.59  33.7333  135.9833
37         Beidao      CN     79.00  34.5686  105.8933

In [23]:
# Using the latitude and longitude and specific parameters, use the Google Places Nearby Search request to retrieve a hotel and add it to the Hotel Name column

# Retrieve Hotels from a Nearby Search

# The first step for retrieving hotels from a Nearby Search is to set the parameters for the search.

# Set the Parameters for a Nearby Search

# To find the nearest establishment to geographic coordinates, use the Google Places Nearby Search request. First, navigate to the Nearby Search requests page. (Links to an external site.)

# Review the following documentation from the page, as seen in the image:
#Specific parameters include:

#Our API key
#A location, which will be the latitude and longitude
#A radius for the search. The radius can be up to 50,000 meters or approximately 31 miles. This distance is much too great for finding hotels, so we'll keep our search to 5,000 meters.
#If we use the rankby=distance for a parameter, we need to add one or more of the three parameters above. We won't use the rankby=distance because we will be search based on the radius from a given latitude and longitude.
#We can add optional parameters such as a keyword, a type of business, or the name of a business.

# For our hotel search, we'll use these parameters:

#API key
#Latitude and longitude
#5,000-meter radius
#Type of place
#To discover the support types we can use, click on the link "list of supported types" in the optional parameters list (shown in the image above) or navigate to the Place Types guide (Links to an external site.).

#On the webpage, Table 1 shows all the different Place types values. "Hotel" does not appear, but "lodging" does, so we will use the string "lodging" for the type parameter.

#Next, we need to know how to add the other parameters in the search.

#REWIND
#Recall that when we made a request with the OpenWeatherMap API, we added the base URL with the city, city_url, to the request, city_weather = requests.get(city_url).

#We can use the same format to make a request with the Google Places API. The following base URL is provided to retrieve the JSON format of the data:

#https://maps.googleapis.com/maps/api/place/nearbysearch/json

#Next, we'll need to look at the documentation on the Python Requests Library (Links to an external site.) provided earlier. The section "Passing Parameters In URLs" states that we can add the parameters as a dictionary of strings, using the params keyword argument requests.get('base URL', params=parameters). This is highlighted in the following screenshot.

In [24]:
# In a new cell, add the parameters as key-value pairs. Add the params dictionary, API key, type, and radius parameters with the following values.

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# The g_key is our Google API key, so be sure to import the config.py file.

#Next, add the coordinates for the location parameter for each city, which need to be pulled from the Lat and Lng columns of the hotel_df DataFrame. We'll need to iterate through the columns of the DataFrame and add the coordinates to the params dictionary before making the request and retrieving the JSON data. However, before iterating through the hotel_df DataFrame, we need to know what the JSON data looks like from a search. Let's practice using a fixed latitude and longitude so we understand where to get the hotel name.

In [26]:
#Iterate Through hotel_df DataFrame

#We can use the iterrows() function to perform the iteration; however, we need to provide the index and the row in the for loop using this syntax: for index, row in df.iterrows().

#In our VacationPy.ipynb file and below the params dictionary, add the following code.

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
#In this code, we modified how we add the coordinates to the location key. We add the latitude and longitude to the location using the f-string format. The rest of the code is the same as when we practiced, but at the end, we add the name of the first hotel to the Hotel Name column in the hotel_df DataFrame.

#Let's run the cell and retrieve the data.

#Oops! Our output says there is an IndexError.

#REWIND
#Recall that when trying to parse the data from an API request, we need to use a try-except block to handle the error with a statement and continue the retrieval.

#Let's modify the last piece of code and make a try-exceptblock to handle the IndexError. Edit the last piece of code so that it looks like the following.

hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Acarau,BR,80.22,-2.8856,-40.1200,castelo pizzaria
5,Vaini,TO,75.69,-21.2000,-175.2000,Keleti Beach Resort
7,Atuona,PF,77.40,-9.8000,-139.0333,Villa Enata
11,Saint Anthony,US,81.18,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
15,Boa Vista,BR,82.38,2.8197,-60.6733,Aipana Plaza Hotel
17,Silopi,TR,82.63,37.2497,42.4694,"Özenler Residence Otel, Şırnak Silopi"
27,Georgetown,MY,80.89,5.4112,100.3354,Cititel Penang
28,Praia,CV,75.74,14.9215,-23.5087,LT Aparthotel
31,Shingu,JP,81.59,33.7333,135.9833,Shingu UI Hotel
37,Beidao,CN,79.00,34.5686,105.8933,Shell Tianshui Maiji District Erma Road Walkin...

In [28]:
# Hotel DataFrame

# Before we add pop-up markers with hotel information, let's create a heatmap using the maximum temperature from our hotel_df DataFrame by reusing the code and changing the DataFrame name.

# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig
#For our hotel_df DataFrame, the heatmap looks like the following.

Figure(layout=FigureLayout(height='420px'))

In [29]:
#If we refer to the gmaps documentation on how to add markers (Links to an external site.), the syntax is markers = gmaps.marker_layer(marker_locations), where the marker_locations are latitudes and longitudes.

#Let's add the markers for each city on top of the heatmap. Edit the code we used to create the heatmap to look like the following:

# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
#Now we can add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature.

#From the gmaps documentation on how to add markers (Links to an external site.), we need to add an info_box_template that has the following syntax.

#info_box_template = """
#<dl>
#<dt>Name</dt><dd>{column1}</dd>
#<dt>Another name</dt><dd>{column2}</dd>
#</dl>
#"""

# This is a new code block, so let's review its form and function.

# First, the info_box_template variable is assigned to a multiline string using three quotes. The text inside the multiline string is HTML code. HTML code is defined by the opening and closing the angular brackets (e.g., <tag> and <tag/>). Angular brackets always come in pairs. The opening angular bracket is followed by some text inside, such as dl, dt, and dd. The closing angular bracket is preceded by a forward-slash ("/"). The text inside with the angular brackets is called a tag. We'll see more examples of HTML code in an upcoming module.

#Here's what these tags mean:

#The <dl> tag is a description list (dl).
#The <dt> tag is a term or name in a description list that is nested under the <dl> tag.
#The <dd> tag is used to define the term or name or <dt> tag.
#If we were to write out these tags on paper, it would look like this.

#Description List: <dl>
#Description Term: <dt>
#Description Definition: <dd>
#Description Term: <dt>
#Description Definition: <dd>
#For our purposes, we'll add the hotel name, city name, country code, and the maximum temperature values from the hotel_df DataFrame as the description definition. Our code will look like the following.

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
#Next, add the data to the code by iterating through the hotel_df DataFrame using the iterrows() function. Then add the information to the gmaps.marker_layer() attribute with the locations.

#According to the documentation (Links to an external site.), we can use this example to create the data for the info_box_template:

#From the documentation, we can take this code:

#plant_info = [info_box_template.format(**plant) for plant in nuclear_power_plants]

#Then edit this code by replacing "plant_info" with "hotel_info," and then use the iterrows() function to get the index and data in the row to add to the marker.

#Add the following code below to the info_box_template code and run the cell.

In [32]:
#Let's review what we're doing with this code.

#We set the hotel_info equal to the info_box_content.
#In the list comprehension, info_box_template.format(**row) for index, row in hotel_df.iterrows(), we iterate through each "row" of the hotel_df DataFrame and then format the info_box_template with the data we set to populate the from each row. Remember, we are not using every row; we are only using the rows defined in the info_box_template, which are Hotel Name, City, Country, and Max Temp.
#Next, in the code we used to create the heatmap with markers, add info_box_content=hotel_info to the gmaps.marker_layer() attribute with the locations. Our final cell should look like the following.

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))