## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,0,Hasaki,JP,79.20,overcast clouds,35.7333,140.8333,Hotel Sunrise Choshi
1,1,Rikitea,PF,73.49,clear sky,-23.1203,-134.9692,People ThankYou
2,5,Golden,US,73.38,broken clouds,39.7555,-105.2211,"The Golden Hotel, Ascend Hotel Collection"
3,8,Touros,BR,76.10,few clouds,-5.1989,-35.4608,INN NEW HORIZON
4,12,Fort Myers Beach,US,79.00,broken clouds,26.4520,-81.9481,Lani Kai Island Resort

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


fig.add_layer(marker_layer)


# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Broome") & (vacation_df["Country"] == "US")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Broome") & (vacation_df["Country"] == "US")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Jamestown") & (vacation_df["Country"] == "US")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Wooster") & (vacation_df["Country"] == "US")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Uniontown") & (vacation_df["Country"] == "US")]
#np.around(vacation_start["Lat"])

145    42.0
Name: Lat, dtype: float64

In [54]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()
end = vacation_end[["Lat","Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()
#stop3 = np.around(stop3,2)
#start = np.around(start,2)
#end = np.around(end,2)
#stop1 = np.around(stop1,2)
#stop2 = np.around(stop2,2)
#start.tolist()
#print(start[1])
#start1[1]
start_a = (start[0,0],start[0,1])
end_a = (end[0,0],end[0,1])
stop1_a = (stop1[0,0],stop1[0,1])
stop2_a = (stop2[0,0],stop2[0,1])
stop3_a = (stop3[0,0],stop3[0,1])

In [55]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps.datasets


# Latitude-longitude pairs
#geneva = [[46.2, 6.1]]
#montreux = (46.4, 6.9)
#zurich = (47.4, 8.5)

#start_a = (start[0,0],start[0,1])

# np.round(16.055, 2)



#fig = gmaps.figure()
start_to_end = gmaps.directions_layer(
        start_a, end_a, waypoints=[stop1_a,stop2_a,stop3_a],
        travel_mode="DRIVING")
fig.add_layer(start_to_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,595,Broome,US,73.15,clear sky,42.2506,-75.8330,Chenango Valley State Park
1,15,Jamestown,US,71.37,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
2,314,Wooster,US,78.15,broken clouds,40.8051,-81.9351,Hilton Garden Inn Wooster
3,658,Uniontown,US,79.14,broken clouds,39.9001,-79.7164,Fairfield Inn by Marriott Uniontown

In [58]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]


# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [70]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(41.0, -76.0), zoom_level=5.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


fig.add_layer(marker_layer)



fig

Figure(layout=FigureLayout(height='420px'))